<% layout('/layouts/boilerplate')  %>

<div class="row">
  <div class="col-8 offset-2">
    <h3 >Edit Listing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          required="true"
          type="text"
          name="listing[title]"
          value="<%=listing.title%>"
          class="form-control"
        />
         <div class="valid-feedback">
         Title Looks Good!!
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="listing[description]"
          placeholder=""
          class="form-control"
          rows="4" cols="30"
          style="resize:none;"
          required
        > <%= listing.description %></textarea>
      </div>
      <div class="mb-3">
        Original Image Preview :<br/>
        <img src="<%=originalURL%>" alt="<%=listing.image.filename%>" width="250px">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image:</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          
        />
      </div>
      <div class="row mt-0 mb-0">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
            min = "500"
            required
          />
           <div class="invalid-feedback">
          Price must be above 500
        </div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            name="listing[country]"
            value="<%=listing.country%>"
            class="form-control"
            required
          />
           <div class="invalid-feedback">
          Country name should be valid
        </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          name="listing[location]"
          value="<%=listing.location%>"
          class="form-control"
          required
        />
         <div class="invalid-feedback">
          Location name should be valid
        </div>
      </div>
      <div class="form-group">
    <label for="dropdown">Select Category:</label>
    <select class="form-control" id="dropdown" name="listing[category]">
    </select>
</div>

      <br />
      <button class="btn btn-lg btn-dark mb-3 add-btn">Save</button>
    </form>
  </div>
</div>

<script>
  
  const  select = document.querySelector("select");
  const category  = ["Room", "Iconic Cities", "Mountains", "Castles", "Farms", "Camping","Arctic","Domes"];
   let listing =  <%-JSON.stringify(listing)%>; 

   for(let i of category) {
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    if(i == listing.category){
      opt.selected=true;
    }
    select.appendChild(opt);
   }
  console.log(listing);



</script>
